body {
    background: #f6f6f6 /*url(/ixd/img/bg.jpg) repeat-x*/;
    height: 100%;
}

a {color: #DB3946; cursor: pointer; text-decoration: none;}
h1 {margin: 2.5em 0 2em   0;}
h2 {margin: 2em   0 1.5em 0;}
h3 {margin: 1.5em 0 0.8em 0;}
h4 {margin: 1em   0 0.5em 0}
p {margin:  0.5em 0 1em   0;}
pre {
    white-space: pre-wrap;       / css-3 /
    white-space: -moz-pre-wrap;  / Mozilla, since 1999 /
    white-space: -pre-wrap;      / Opera 4-6 /
    white-space: -o-pre-wrap;    / Opera 7 /
    word-wrap: break-word;       / Internet Explorer 5.5+ /
}
:focus {outline-style:none;}


input[type=checkbox] {vertical-align:middle; margin-top:-2px; margin-bottom:1px;}
input[type=text], input[type=password] {height: 18px; padding-left: 2px; padding-right: 2px;}
input[type=button] {cursor: pointer; padding: 2px 20px; height: 24px;}
input, textarea {border: 1px solid #A6A6A6; padding: 2px 2px;}
input.red-btn:hover {cursor: pointer; background-position: 0 -28px;}
input.red-btn-w:hover {cursor: pointer; background-positon: -80px -28px;}
input.short {width: 80px;}
input.long {width: 200px;}
input.llong {width: 260px;}


input.red-btn, button.red-btn {
    height: 28px; width: 80px;
    text-align: center; vertical-align: middle;
    border: 0px none;
    color: #fff;
    background: url(/ixd/img/btn.png) 0 0 no-repeat;
}

input.red-btn-w, button.red-btn-w{
    height: 28px; width: 130px;
    text-align: center; vertical-align: middle;
    border: 0px none;
    color: #fff;
    background: url(/ixd/img/btn.png) -80px 0 no-repeat;
}

a.red-btn {
    display: inline-block;
    height: 28px; line-height: 22px; width: 80px;
    text-align: center;
    color: #fff;
    background: url(/ixd/img/btn.png) 0 0 no-repeat;
}
a.red-btn:hover {
    background-position: 0 -28px;
}


ul.pad {padding: 0 2em;}

dl.inp dt {float: left; clear: left; margin: 3px 10px 3px 0px; line-height: 24px; text-align: right;}
dl.inp dd {margin: 5px; line-height: 30px;}
dl.inp dd img {vertical-align: middle;}
dl.inp dd span {margin-left: 20px;}

table.list {border: 1px solid #CCCCCC; border-collapse:collapse; width:100%;}
table.list th {background-color: #eee; border-left:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; padding:4px 4px; text-align:center; width:auto;}
table.list td {border-left:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; padding:4px 4px;}
table.list td span {margin-left: 10px;}
table.list tr:hover {background-color: #FFFFCC;}
