.decimal {font: 12px Georgia; font-weight: bold;}
.slight {color:#767676;}
.em {font-weight: bold;}
.eem {font-weight: bold; font-size: 120%;}

.text-red {color: #ff0000;}
.text-yellow {color: #aaaa00;}
.text-green {color: #00ff00;}
.text-blue {color: #0000ff;}

.text-center {text-align: center;}
.text-right {text-align: right;}
.full-width {padding: 0 !important;}

/*
 * 浮动元素自动变为块级元素，
 * 如 <span class="fright" 将可以为其设置宽度，跟display: inline-block效果一样，
 * 除了后者有浏览器兼容问题
 */
.fright {float: right;}
.fleft {float: left;}

.w100 {width: 100px;}

.mr1 {margin-right: 1em;}
.mr2 {margin-right: 2em;}
.mr5 {margin-right: 5em;}
.ml1 {margin-left: 1em;}
.ml2 {margin-left: 2em;}
.ml5 {margin-left: 5em;}

.mt1 {margin-top: 1em;}
.mt2 {margin-top: 2em;}
.mt5 {margin-top: 5em;}
.mb1 {margin-bottom: 1em;}
.mb2 {margin-bottom: 2em;}
.mb5 {margin-bottom: 5em;}

.pr1 {padding-right: 1em;}
.pr2 {padding-right: 2em;}
.pr5 {padding-right: 5em;}
.pl1 {padding-left: 1em;}
.pl2 {padding-left: 2em;}
.pl5 {padding-left: 5em;}

.pt1 {padding-top: 1em;}
.pt2 {padding-top: 2em;}
.pt5 {padding-top: 5em;}
.pb1 {padding-bottom: 1em;}
.pb2 {padding-bottom: 2em;}
.pb5 {padding-bottom: 5em;}


.xmr1 {margin-right: 1px;}
.xmr2 {margin-right: 2px;}
.xmr5 {margin-right: 5px;}
.xml1 {margin-left: 1px;}
.xml2 {margin-left: 2px;}
.xml5 {margin-left: 5px;}

.xmt1 {margin-top: 1px;}
.xmt2 {margin-top: 2px;}
.xmt5 {margin-top: 5px;}
.xmb1 {margin-bottom: 1px;}
.xmb2 {margin-bottom: 2px;}
.xmb5 {margin-bottom: 5px;}

.xpr1 {padding-right: 1px;}
.xpr2 {padding-right: 2px;}
.xpr5 {padding-right: 5px;}
.xpl1 {padding-left: 1px;}
.xpl2 {padding-left: 2px;}
.xpl5 {padding-left: 5px;}

.xpt1 {padding-top: 1px;}
.xpt2 {padding-top: 2px;}
.xpt5 {padding-top: 5px;}
.xpb1 {padding-bottom: 1px;}
.xpb2 {padding-bottom: 2px;}
.xpb5 {padding-bottom: 5px;}


.hide {display: none !important;}
.show {display: block !important;}
.valid {border: 1px solid green !important;}
.invalid {border: 2px solid #900 !important;}
.clearer {clear: both !important;}
.sep {display: block; clear: both; height: 3em;}
.sepl {display: block; clear: both; height: 1em;}


/* 有移动子元素时，为其后面的元素自动添加clear，跟最后子元素为clearer效果一样（除了不能为自己设置高度） */
.clearfix {
    display: block;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
