[submodule "noty"]
	path = noty
	url = https://github.com/needim/noty.git
[submodule "animate"]
	path = animate
	url = https://github.com/daneden/animate.css.git
[submodule "jquery-popup-overlay"]
	path = jquery-popup-overlay
	url = https://github.com/vast-engineering/jquery-popup-overlay.git
